@{
    ViewBag.Title = "Acerca de";
}
<div class="mui--appbar-height"></div>
<br>
<br>

<div class="mui-container mui-panel">
    <div class="mui--text-display1">ToDoUNET te ayudara</div>
    <br>
    <div class="mui-container-fluid">
        <p>
            Aplicacion simple que permite gestionar una lista de Tareas.
        </p>
        <p>
            Muy util para aquellas personas que gestionan una gran cantidad de actividades y no tienen buen control,
            les ayuda a tener un control del avance de sus tareas.
        </p>
    </div>
</div>
<br>
<div class="mui-container mui-panel">
    <div class="mui--text-display1">¿Como se usa?</div>
    <br>
    <div class="mui-container-fluid">
        <ul class="mui-list--unstyled mui--text-body2">
            <li>
                Inicie session, o registrese
            </li>
            <li>
                Acceda a la opcion "Tareas"
            </li>
            <li>
                Comienze a gestionar sus tareas
            </li>
        </ul>
    </div>
</div>