@{
    ViewBag.Title = "Inicio";
}
<div class="mui--appbar-height"></div>
<br>
<br>
<div class="mui--text-display3">ToDoUNET</div>
<br>
<p>
  <span class="">@ViewBag.numTask Tareas registradas, por @ViewBag.numUser usuario(s)</span>
</p>
<p>
  <span class="">¿Que esperas para gestionar sus tareas?</span>
</p>
<br>
<br>
<button class="mui-btn mui-btn--raised">@Html.ActionLink("Inicia de una vez", "Index", "Task")</button>
