@if (Request.IsAuthenticated) {
    <li>
        <i class="icon-key"></i> @Html.ActionLink("Cambiar contraseña", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <i class="icon-blocked"></i> <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        }
    </li>
} else {
    <li><i class="icon-user"></i> @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
