@model ToDo.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar cuenta";
}

<div class="mui--appbar-height"></div>
<br>
<br>
<div class="mui-container">

    <p class="message-success">@ViewBag.StatusMessage</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
